<div id="introBubble" class="rounded_panel txt_lightgrey">
	<div class="top-rounded-panel grey-bg">
		<h1 id="user-intro">Introduction &amp; Background</h1>
	</div>
	<div class="content-rounded-panel">
		<div id="introBlurb">
			I kicked started my career working with MAVENUP in a well challenged and highly competitive environment, learning new and diverse technologies like CODEIGNITER, ANGULAR in one year's tenure.<br/>
			After having decent enough flavor of the Industry i started working with OSO and specialized in LARAVEL, ANGULAR and IONIC frameworks in 10 Months time period.<br/>
			Its been 8th Months or so that i've became part of this wonderful Company namely known as BAREFOOT STUDIO and putting my skills to best use in EXPRESSJS, ANGULAR, REACT-NATIVE, IONIC frameworks..
		</div>
		<br>
	</div>
</div>
